@color-blue: #0171bb;
@color-red: #fe1d45;
@import "svg";
@import "hljs.css";
.nomargin{
    margin: 0;
}
.blend_multiply{
    mix-blend-mode: multiply;
}
.blend_darken{
    mix-blend-mode: darken;
}

.reveal{

    font-family: Impact,"PingFang SC",sans-serif;
    .page1__sub{
        position: fixed;
        bottom: 0;
        right: 50px;
        font-size: 14px;
        color: @color-blue;
    }
    .slides section{
        padding: 0;
    }
    .content{
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
    }
    .page__title{
        font-size: 50px;
        font-weight: bolder;
    }
    pre{
        box-shadow: none;
    }
    .wrap{
        position: relative;
    }
    .page__title-wrap{
        padding: 15px 50px;
        display: inline-block;
        border: 7px solid @color-blue;
        &:after{

        }
    }
    pre code{
        //white-space: normal;
        font-size: 20px;
        word-break: break-all;
        .current-fragment{
            background-color: yellow;
        }
    }
    .vector-attr__code{
        width: 350px;
        margin: auto;
    }
    .line-action__btn-wrap{
        margin-top: 50px;
    }
    .line-action__btn {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 100px;
        line-height: 100px;
        color: #ffffff;
        font-size: 20px;
        z-index: 2;
        position: relative;
        background-color: @color-red;
        border-radius: 100%;
        &:hover{
            color: #ffffff;
        }
        &:active{
            background-color: #8e1127;
        }
    }
    .line-control__element{
        overflow: hidden;
    }
    .line-control__title{
        float: left;
        margin-right: 50px;
    }
    .line-control__bar{
        float: left;
        input[type=range]{
            width: 500px;
        }
    }
}
.ui-c-blue{
    color: @color-blue;
}
.ui-c-red{
    color: @color-red;
}
