svg{
    path{stroke: @color-blue;}
}
.svg__vector-intro {
    fill: none;
    stroke: #0171bb;
    stroke-opacity: 1;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}
.svg__svg-icon{
    path{
        fill: @color-blue;
        fill-opacity: 1;
        stroke: rgba(50,50,50,0.5);
        stroke-width: 15px;
    }
}
.svg__css-conf{
    stroke: #0171bb;
    stroke-width: 3px;
    fill: transparent;
}
