svg{
    path{stroke: @color-blue;}
    overflow:visible;
}
.svg__vector-intro {
    fill: none;
    stroke: #0171bb;
    stroke-opacity: 1;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}
.svg__svg-icon{
    path{
        fill: @color-blue;
        fill-opacity: 1;
        stroke: rgba(50,50,50,0.5);
        stroke-width: 15px;
    }
}
.svg__css-conf{
    stroke: #0171bb;
    stroke-width: 2px;
    fill: transparent;
}
.svg__cover{
    path{
        stroke: none;
    }
}
.svg__text-path{
    font-size: 14px;
    fill: @color-blue;
}
.svg__text-path{
    fill: @color-red;
    text-length: 400;
}
.svg__pattern-morphing{
    transform: scale(0.5);
    transform-origin: left top;
    path{
        stroke: none;
    }
}